{{define "content"}}
<div class="container" style="margin-top: 30px">
    <h1 style="text-align: center">KAOS</h1>
    <div id="main">
    <div style="margin-top: 30px">

        <table style="font-size: 32px" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Customer</th>
                    <th class="text-center">Critical</th>
                    <th class="text-center">Warning</th>
                    <th class="text-center">Info</th>
                </tr>
            </thead>
            <tbody>
                {{ range $k,$v := . }}
                {{ if $v.IsReporting }}
                <tr>
                {{else}}
                <tr class="table-secondary">
                {{end}}
                    <td class="font-weight-bold text-uppercase">
                        <a class="text-muted" href="/kaos/status/?customer={{$v.Name}}">{{ $v.Name }}</a>
                    </td>
                    {{ if ne $v.Counters.Critical 0 }}
                    <td class="font-weight-bold text-center table-danger">{{ $v.Counters.Critical }}</td>
                    {{ else }}
                    <td class="font-weight-bold text-center table-success">{{ $v.Counters.Critical }}</td>
                    {{ end }}
                    {{ if ne $v.Counters.Warning 0 }}
                    <td class="font-weight-bold text-center table-warning">{{ $v.Counters.Warning }}</td>
                    {{ else }}
                    <td class="font-weight-bold text-center table-success">{{ $v.Counters.Warning }}</td>
                    {{ end }}
                    {{ if ne $v.Counters.Info 0 }}
                    <td class="font-weight-bold text-center table-info">{{ $v.Counters.Info }}</td>
                    {{ else }}
                    <td class="font-weight-bold text-center table-success">{{ $v.Counters.Info }}</td>
                    {{ end }}
                </tr>
                {{end}}
            </tbody>
        </table>

    <script type="text/javascript">
        setInterval(function() {
            if (!document.hidden) {
                window.location.reload();
            }
        }, 30000);
    </script>
    </div>
</div>
{{end}}
