{{ define "content" }}
{{ range $ind, $cust := . }}
<div class="container" style="margin-top: 30px">
    <h1 style="text-align: center"><span class="text-uppercase">{{$cust.Name}}</span> Active Alerts</h1>

    <div id="main">
        <div style="margin-top: 20px">

            <div style="height: 50px; text-align: center;">
                <div class="h-50 d-inline-block alert-info" style="width: 130px">INFO</div>
                <div class="h-50 d-inline-block alert-warning" style="width: 130px">WARNING</div>
                <div class="h-50 d-inline-block alert-danger" style="width: 130px">CRITICAL</div>
            </div>
            <div style="text-align: left">
                <a href="/kaos/main">Back</a>
            </div>
            {{ $length := len ($cust.Alerts) }}
            {{ if gt $length 0 }}
            <table style="font-size: 14px" class="table table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Last report</th>
                        <th>Alert message</th>
                        <th>Environment</th>
                        <th>Duration</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $k,$l := $cust.Alerts}}
                        {{ if eq $l.Level "CRITICAL" }}
                        <tr class="table-danger">
                        {{ else if eq $l.Level "WARNING" }}
                        <tr class="table-warning">
                        {{ else if eq $l.Level "INFO" }}
                        <tr class="table-info">
                        {{ else }}
                        <tr>
                        {{ end }}
                            <td>{{ $l.TimeString }}</td>
                            <td>
                                {{ if gt (len $l.Message) 200 }}
                                {{ printf "%.200s" $l.Message }}...
                                {{ else }}
                                {{ $l.Message }}
                                {{ end }}
                                {{ if $l.GrafanaURL }}
                                <a target="_blank" href="{{ $l.GrafanaURL }}">Go to Grafana</a>
                                {{ end }}
                            </td>
                            <td>{{ $l.Environment }}</td>
                            <td>{{ $l.DurationString }}</td>
                            <td>{{ $l.Level }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ else }}
            <div style="text-align: center" class="alert alert-success" role="alert">
                <h4>All systems ok!</h4>
            </div>
        </div>
            {{ end }}
    <script type="text/javascript">
        setInterval(function() {
            if (!document.hidden) {
                window.location.reload();
            }
        }, 30000);
    </script>
    </div>
</div>
{{ end }}
{{ end }}
